* {
	margin: 0;
	padding: 0;
	font-family: arial;
	-webkit-text-size-adjust: none;
}

html {
	overflow: hidden;
}

body {
	background: url(images/bg.jpg) no-repeat top right #7aba01;
	-webkit-user-select: none;
}
span {
	clear: both;
}

a {
	text-decoration: none;
}

.inputbox {
	height: 24px;
	line-height: 24px;
	padding: 0 5px;
	font-size: 14px;
	width: 186px;
	border: #314e62 1px solid;
	-webkit-user-select: text;
	cursor: auto;
	float: left;
	outline-color: #088cd8;
}

.loginRight {
	color: #0c7ab9;
	text-shadow: -1px -1px 1px rgba(200, 200, 200, 0.75), 1px -1px 1px rgba(200, 200, 200, 0.75), -1px 1px 1px rgba(200, 200, 200, 0.75), 1px 1px 1px rgba(200, 200, 200, 0.75);
	height: 24px;
	line-height: 24px;
	margin-left: 10px;
}

.loginRight:hover {
	color: #088cd8;
	text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.75), 1px -1px 1px rgba(255, 255, 255, 0.75), -1px 1px 1px rgba(255, 255, 255, 0.75), 1px 1px 1px rgba(255, 255, 255, 0.75);
	cursor: pointer;
}

#loginBox {
	width: 400px;
	height: 290px;
	padding: 15px;
margin: 0 auto;
	position: absolute;
border: 1px solid #ccc;
background: #f6f6f6;
}

.inputOuter {
	margin: 10px 50px 0 50px;
}

#account {
	padding-right: 33px;
	width: 158px;
}

#footer {
	padding: 6px 0 3px 50px;
	height: 40px;
	width: 280px;
}



#stateChg {
	margin: 1px 1px 1px -25px;
	float: left;
	position: relative;
	height: 24px;
	width: 24px;
	z-index: 10;
}

.state {
	height: 24px;
	width: 24px;
}

.state[state=online] {
	background: url(images/online.png) no-repeat center center white;
}

.state[state=callme] {
	background: url(images/callme.png) no-repeat center center white ;
}

.state[state=busy] {
	background: url(images/busy.png) no-repeat center center white;
}

.state[state=away] {
	background: url(images/away.png) no-repeat center center white;
}

.state[state=hidden] {
	background: url(images/hidden.png) no-repeat center center white;
}

.state[state=silent] {
	background: url(images/silent.png) no-repeat center center white;
}
#stateListLogin{
	border: #009adb 1px solid;
	-webkit-border-radius: 2px;
	overflow: hidden;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	margin-top: -72px;
	display: none;
}
#stateList {
	border: #009adb 1px solid;
	-webkit-border-radius: 2px;
	overflow: hidden;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	margin-top: -72px;
	display: none;
}

.stateList {
	height: 24px;
	width: 24px;
}

.stateList[state=online] {
	background: url(images/online.png) no-repeat center center white;
}

.stateList[state=callme] {
	background: url(images/callme.png) no-repeat center center white;
}

.stateList[state=busy] {
	background: url(images/busy.png) no-repeat center center white;
}

.stateList[state=away] {
	background: url(images/away.png) no-repeat center center white;
}

.stateList[state=hidden] {
	background: url(images/hidden.png) no-repeat center center white;
}

.stateList[state=silent] {
	background: url(images/silent.png) no-repeat center center white;
}

.stateList[state=online]:hover {
	background: url(images/online.png) no-repeat center center #fcf0c1;
}

.stateList[state=callme]:hover {
	background: url(images/callme.png) no-repeat center center #fcf0c1;
}

.stateList[state=busy]:hover {
	background: url(images/busy.png) no-repeat center center #fcf0c1;
}

.stateList[state=away]:hover {
	background: url(images/away.png) no-repeat center center #fcf0c1;
}

.stateList[state=hidden]:hover {
	background: url(images/hidden.png) no-repeat center center #fcf0c1;
}

.stateList[state=silent]:hover {
	background: url(images/silent.png) no-repeat center center #fcf0c1;
}

#afterLogin {
	color: black;
	text-align: center;
	padding-top: 20px;
	display: none;
}

.loginBottom {
	color: #2D2D2D;
	text-shadow: -1px -1px 1px rgba(200, 200, 200, 0.75), 1px -1px 1px rgba(200, 200, 200, 0.75), -1px 1px 1px rgba(200, 200, 200, 0.75), 1px 1px 1px rgba(200, 200, 200, 0.75);
	height: 24px;
	line-height: 24px;
}
#qqBox{
	width: 300px;
	float:right;
	display: none;
	background-image: url(images/bg2.png)
}
ul, li {
	list-style: none;
}

li {
	padding: 6px;
}

::-webkit-input-placeholder{
	color: #3D3D3D;
}

::-webkit-scrollbar-track-piece{
	-webkit-border-radius: 0;
}
::-webkit-scrollbar{
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-thumb{
	height: 50px;
	background-color: #aaa;
	-webkit-border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	height: 50px;
	background-color: #555;
	-webkit-border-radius: 4px;
}

@-webkit-keyframes slideOut{
	0%{
		margin-left: 0px;
		margin-right: 0px;
		opacity:1;
	}
	100%{
		margin-left: -50px;
		margin-right: 50px;
		opacity:0;
	}
}

@-webkit-keyframes slideIn{
	0%{
		margin-left: 50px;
		margin-right: -50px;
		opacity:0;
	}
	100%{
		margin-left: 0px;
		margin-right: 0px;
		opacity:1;
	}
}

@-webkit-keyframes shake{
	0%{
		margin:0;
	}
	100%{
		margin:-1px;
	}
}

@-webkit-keyframes flash{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

@-webkit-keyframes open{
	0%{
		height: 0;
		opacity:0.5;
	}
	100%{
		height: 200px;
		opacity:1;
	}
}

.groupOpen {
	overflow: hidden;
	-webkit-animation-name:  open;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-timing-function: ease-out;
}

#userInfo {
	padding: 42px 10px 14px;
	text-shadow: 1px 0 1px rgba(255, 255, 255, 0.35), 0 1px 1px rgba(255, 255, 255, 0.35), 
    0 -1px 1px rgba(255, 255, 255, 0.35), -1px 0 1px rgba(255, 255, 255, 0.35);
  cursor: default;
  min-height: 54px;
}

#userName {
	font-size: 24px;
	float: left;
	letter-spacing: 1px;
	font-weight: bold;
}

#userState {
	margin: 0 1px;
	margin-top: 10px;
	height: 20px;
	width: 22px;
	border-radius: 2px;
	text-align: center;
	border: rgba(0, 0, 0, 0) 1px solid;
	float: left;
}

#userState:hover {
	border: rgba(0, 0, 0, 0.5) 1px solid;
	box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0) 100%);
}

#userLevel {
	margin-top: 12px;
	padding: 0 1px;
	border-radius: 2px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	-webkit-transform: scale(0.8);
	letter-spacing: 1px;
	font-weight: bold;
	float: left;
	border: rgba(0, 0, 0, 0) 1px solid;
	text-shadow: -1px -1px 1px #AA5005, 1px -1px 1px #AA5005, -1px 1px 1px #AA5005, 1px 1px 1px #AA5005;
	color: #DDDD00;
}

#userLevel:hover {
	border: rgba(0, 0, 0, 0.5) 1px solid;
	box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0) 100%);
}

#userMotto {
	font-size: 14px;
	clear: both;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 2px;
	border: rgba(0, 0, 0, 0) 1px solid;
	padding: 2px 5px;
}

#userMotto:hover {
	border: rgba(0, 0, 0, 0.5) 1px solid;
	box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0) 100%);
}

#serviceLink{
	padding:5px 10px;
}

#serviceLink a{
	display: inline-block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -999px;
}

#serviceLink a.qzone{
	background:url(images/qzone.png) no-repeat;
	background-size:16px 16px;
}

#serviceLink a.mail{
	background:url(images/mail.png) no-repeat;
	background-size:16px 16px;
}

#serviceLink a.microblog{
	background:url(images/microblog.png) no-repeat;
	background-size:16px 16px;
}
#serviceLink a.i_weiyun{
	background:url(images/weiyun.png) no-repeat;
	background-size:16px 16px;
}
#searchBackground {
	
	line-height: 26px;
	border-radius: 2px;
	background: url(images/search.png) no-repeat center right rgb(255, 255, 255);
}

#searchLine {
	height: 26px;
	margin: 0 20px 0 5px;
}

#searchBar {
	color: #2D2D2D;
	font-size: 12px;
	outline: none;
	height: 100%;
	width: 100%;
	line-height: 100%;
	border: none;
	background: transparent;
}



.tabs {
	width: 33%;
	height: 34px;
	float: left;
	box-shadow: inset 0 -2px 1px -1px rgba(0, 0, 0, 0.15);
}

.tabs:hover {
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.5) 100%);
}

.tabactive {
	width: 33%;
	height: 34px;
	float: left;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 100%);
}

.tabborder {
	width: 0.5%;
	height: 34px;
	float: left;
	box-shadow: inset 0 -2px 1px -1px rgba(0, 0, 0, 0.15);
}

#friendsList {
	min-width: 290px;
}

#friendsListTab {
	height: 34px;
	background: url(images/friendslist.png) no-repeat center center;
}

#friendsListTab[active=true] {
	height: 34px;
	background: url(images/friendslistactive.png) no-repeat center center;
}

#qunList {
	min-width: 290px;
}

#qunListTab {
	height: 34px;
	background: url(images/qunlist.png) no-repeat center center;
}

#qunListTab[active=true] {
	height: 34px;
	background: url(images/qunlistactive.png) no-repeat center center;
}

#recentList {
	min-width: 290px;
}

#recentListTab {
	height: 34px;
	background: url(images/recentlist.png) no-repeat center center;
}

#recentListTab[active=true] {
	height: 34px;
	background: url(images/recentlistactive.png) no-repeat center center;
}

#list {
	background: white;
	height: 376px;
	clear: both;
	padding: 0 2px;
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 11px;
	font-weight: bold;
	cursor: default;
}


.groupName {
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	background: url(images/groupsliststyle.png) no-repeat center left;
}

.groupName:hover {
	background: url(images/groupsliststyle.png) no-repeat center left, -webkit-linear-gradient(top, #f5faf8 0%,#e9f3f4 100%);
}

.groupNameOpen {
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
	background: url(images/groupsliststyleopen.png) no-repeat center left;
}

.groupWords {
	margin-left: 5px;
}

.friendHead {
	float: left;
	width: 40px;
	height: 40px;
	position: relative;
}

.friendHead img {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	max-width:40px;
}

.friendHead img[state=offline] {
	-webkit-filter: grayscale(1);
}

.friendInfo {
	float: left;
	font-size: 12px;
	font-weight: normal;
	overflow: hidden;
	width: 226px;
	margin-left: 6px;
}

.showHideIco {
	position: absolute;
	left: 0;
	bottom: 0;
	width:11px;
	height: 11px;
	background: url(images/showhide.png);
}

.showStateAway {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 11px;
	height: 11px;
	background: url(images/away.png);
}

.showStateCallme {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 11px;
	height: 11px;
	background: url(images/callme.png);
}

.showStateBusy {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 11px;
	height: 11px;
	background: url(images/busy.png);
}

.showStateSilent {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 11px;
	height: 11px;
	background: url(images/silent.png);
}

.showStateMobile {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 20px;
	height: 20px;
	background: url(images/client_mobile.png);
}

.showStateIphone {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 14px;
	height: 20px;
	background: url(images/client_iphone.png);
}

.friendName {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

.friendMark {
	color: gray;
}

.friendPersonal {
	height: 20px;
	line-height: 20px;
	color: gray;
}

.friendDetail {
	min-width: 293px;
	overflow: hidden;
}

.friendDetail[selected=true] {
	background: #fceba9;
}

.friendDetail[selected=true]:hover {
	background: #fceba9;
}

.friendDetail:hover {
	background: #fcf0c1;
}

.qunDetail {
	overflow: hidden;
}

.qunDetail[selected=true] {
	background: #fceba9;
}

.qunDetail[selected=true]:hover {
	background: #fceba9;
}

.qunDetail:hover {
	background: #fcf0c1;
}

.recentDetail {
	overflow: hidden;
}

.recentDetail[selected=true] {
	background: #fceba9;
}

.recentDetail[selected=true]:hover {
	background: #fceba9;
}

.recentDetail:hover {
	background: #fcf0c1;
}

.slideOut {
	-webkit-animation-name:  slideOut;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-fill-mode: both;
	-webkit-animation-delay: 0;
}

.slideIn {
	-webkit-animation-name:  slideIn;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode: both;
	-webkit-animation-delay: 0;
}

#searchList {
	position: absolute;
	top: 165px;
	left: 0;
	z-index: 10;
	width: 100%;
	cursor: default;
}

#searchListBorder {
	margin: 2px;
	border: #1ea9e0 1px solid;
	border-radius: 1px;
	background: white;
	display: none;
}

.searchResult {
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	padding: 0 10px 0 30px;
	background-size: 16px 16px;
	background-position: 5px center;
	background-repeat: no-repeat;
}

.searchResult:hover {
	background-color: #3991d1;
}

#stateList div {
	width: 22px;
	height: 20px;
}

#stateList div:hover {
	background-color: #3d95d6;
}

#setLnick {
	background: white;
	height: 16px;
	width: 100%;
	margin: -2px -5px;
	padding: 2px 5px;
	font-size: 12px;
	border: none;
	outline: none;
	display: none;
}

#userLnick {
	height: 16px;
}

.footerButton {
	height: 20px;
	width: 20px;
	margin: 2px;
	float: left;
	border-radius: 3px;
	border: rgba(0, 0, 0, 0) 1px solid;
}

.footerButton:hover {
	border: rgba(0, 0, 0, 0.5) 1px solid;
	box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5);
}

#settings {
	background: url(images/settings.png) no-repeat center center;
}

#logout {
	background: url(images/logout.png) no-repeat center center;
}